@model WebAPI.Models.ToDoItems

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ToDoItems</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Atividade_Titulo" class="control-label"></label>
                <input asp-for="Atividade_Titulo" class="form-control" />
                <span asp-validation-for="Atividade_Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atividade_Dia_Hora" class="control-label"></label>
                <input asp-for="Atividade_Dia_Hora" class="form-control" />
                <span asp-validation-for="Atividade_Dia_Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atividade_DiaSemana" class="control-label"></label>
                <input asp-for="Atividade_DiaSemana" class="form-control" />
                <span asp-validation-for="Atividade_DiaSemana" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Feito" /> @Html.DisplayNameFor(model => model.Feito)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
